<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586523085961-ht4tf857c3u2e18kf9kocj1t9atp20g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586523085961-ht4tf857c3u2e18kf9kocj1t9atp20g2</string>
	<key>API_KEY</key>
	<string>AIzaSyAOs5ntDllgZvFTL4aGeMvoM9UoSnArcdE</string>
	<key>GCM_SENDER_ID</key>
	<string>586523085961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnifigroup.corinapp</string>
	<key>PROJECT_ID</key>
	<string>rn-magnifi-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-magnifi-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586523085961:ios:95532bb0aa86fc37</string>
	<key>DATABASE_URL</key>
	<string>https://rn-magnifi-mobile.firebaseio.com</string>
</dict>
</plist>